In [109]:
import torch
import torch.nn as nn
import torch.optim as optim
import torch.nn.functional as F
from torch.utils.data import DataLoader, TensorDataset
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [110]:
# 讀取meta的各個檔案
composer_df = pd.read_parquet('data/meta_song_composer.parquet')
song_df = pd.read_parquet('data/meta_song.parquet')
genre_df = pd.read_parquet('data/meta_song_genre.parquet')
lyricist_df = pd.read_parquet('data/meta_song_lyricist.parquet')
producer_df = pd.read_parquet('data/meta_song_producer.parquet')
titletext_df = pd.read_parquet('data/meta_song_titletext.parquet')

# 將資料以 song_id 作為主體合併
merged_df = pd.merge(song_df, composer_df, on='song_id', how='left')
merged_df = pd.merge(merged_df, genre_df, on='song_id', how='left')
merged_df = pd.merge(merged_df, lyricist_df, on='song_id', how='left')
merged_df = pd.merge(merged_df, producer_df, on='song_id', how='left')
merged_df = pd.merge(merged_df, titletext_df, on='song_id', how='left')
meta_merged_df = merged_df.copy()

# 顯示合併後的 DataFrame
print(meta_merged_df.head())

                            song_id  artist_id  song_length  album_id  \
0  10a46165bb84e056438e06c35763ee61       39.0        202.0     202.0
1  10a46165bb84e056438e06c35763ee61       39.0        202.0     202.0
2  ff025522d0f8e7198a75a4e03edce55c      133.0        278.0    9615.0
3  ff025522d0f8e7198a75a4e03edce55c      133.0        278.0    9615.0
4  7feec55b825a1c93d55b3ef9af9f9be5     4147.0        306.0   19017.0

   language_id album_month                       composer_id  \
0          3.0     2000-01                               NaN
1          3.0     2000-01                               NaN
2          3.0     1995-01  47580d357c6779d6a244c514b0acdc72
3          3.0     1995-01  47580d357c6779d6a244c514b0acdc72
4          3.0     2015-06  3211cf51bfa3afff4f264a110212f615

                           genre_id                       lyricist_id  \
0  ce4db56f6a48426643b08038139a8a75                               NaN
1  b856b6781d370a3645c6dde0c20b3597                               NaN
2  ce4db56f6a48426643b08038139a8a75                               NaN
3  b856b6781d370a3645c6dde0c20b3597                               NaN
4  ce4db56f6a48426643b08038139a8a75  3211cf51bfa3afff4f264a110212f615

                        producer_id                     title_text_id
0  95584be121b41e3e758bd99e9cc07abd  b2153fe5a86fd746903746a219d40083
1  95584be121b41e3e758bd99e9cc07abd  b2153fe5a86fd746903746a219d40083
2  8e9704c1d8cf460fe5a2eb4470e77d3e  c1079ef109db2aba72f78c632ab73803
3  8e9704c1d8cf460fe5a2eb4470e77d3e  c1079ef109db2aba72f78c632ab73803
4  086136ec34f3ff6eb89cfa7c446bd69f  c1079ef109db2aba72f78c632ab73803

In [138]:
merged_df.isnull().sum()

song_id                0
artist_id         185318
song_length       185318
album_id          401967
language_id       401967
album_month       402019
composer_id       726444
genre_id          403030
lyricist_id      1299883
producer_id      1579454
title_text_id     185318
dtype: int64

In [111]:
# 处理缺失值，这里简单地用0填充
meta_merged_df.fillna(0, inplace=True)

# 对分类特征进行编码
label_encoders = {}
for column in ['artist_id', 'album_id', 'composer_id', 'genre_id', 'lyricist_id', 'producer_id', 'title_text_id']:
    encoder = LabelEncoder()
    meta_merged_df[column] = encoder.fit_transform(meta_merged_df[column].astype(str))
    label_encoders[column] = encoder

# 对数值特征进行标准化
scaler = StandardScaler()
meta_merged_df['song_length'] = scaler.fit_transform(meta_merged_df['song_length'].values.reshape(-1, 1))

print(meta_merged_df.head())

                            song_id  artist_id  song_length  album_id  \
0  10a46165bb84e056438e06c35763ee61      85469    -0.095027    152662
1  10a46165bb84e056438e06c35763ee61      85469    -0.095027    152662
2  ff025522d0f8e7198a75a4e03edce55c      14082     0.624485    309734
3  ff025522d0f8e7198a75a4e03edce55c      14082     0.624485    309734
4  7feec55b825a1c93d55b3ef9af9f9be5      92456     0.889568    147347

   language_id album_month  composer_id  genre_id  lyricist_id  producer_id  \
0          3.0     2000-01            0        31            0        33946
1          3.0     2000-01            0        26            0        33946
2          3.0     1995-01        54451        31            0        32408
3          3.0     1995-01        54451        26            0        32408
4          3.0     2015-06        38307        31        23503         1980

   title_text_id
0           1729
1           1729
2           1866
3           1866
4           1866

In [112]:
# 将所有特征拼接成一个向量
feature_columns = ['artist_id', 'song_length', 'album_id', 'composer_id', 'genre_id', 'lyricist_id', 'producer_id', 'title_text_id']
song_vectors = meta_merged_df.groupby('song_id')[feature_columns].mean()

In [113]:
# 例如，获取特定歌曲的嵌入向量
song_id = '10a46165bb84e056438e06c35763ee61'
vector = song_vectors.loc[song_id]

In [137]:
song_vectors

,artist_id,song_length,album_id,composer_id,genre_id,lyricist_id,producer_id,title_text_id
song_id,,,,,,,,
00002d2ddb6c789bcb8ef14f52339e39,5912.0,-0.767203,188982.0,0.0,13.0,0.0,0.0,2221.0
000049836b2e92a6a361e40d7f0c73db,29454.0,0.605551,248850.0,75735.0,11.0,21458.0,0.0,261.0
00005d588ff5b96c84556f17b716e227,37505.0,0.056449,128132.0,0.0,6.0,0.0,33474.0,1525.0
00005ee00af3e6bc97c0a694bae95728,96740.0,0.226860,127637.0,67.0,9.0,0.0,21796.0,2200.0
000067e6edb45097956ee81bbd1edb63,41108.0,1.164119,223967.0,0.0,26.0,0.0,9235.0,2070.0
...,...,...,...,...,...,...,...,...
ffffb17f494477ddef244df20d662e01,66760.0,0.151122,187329.0,0.0,18.5,0.0,55313.0,243.0
ffffc0ee02f3fac2b4a10ed7a6c3423f,1419.0,0.567681,26662.0,0.0,35.0,0.0,0.0,1540.0
ffffcf62a064a729b55618a2648c6af0,101311.0,1.088381,155636.0,12348.0,10.0,7499.0,0.0,908.0
ffffe1b0071c87b3716f708f7066a22f,32398.0,0.662354,54531.0,79588.5,18.5,0.0,0.0,243.0
ffffec8b691fb58debb2587b0e48c71f,82855.0,0.397271,95684.0,167713.0,28.5,102150.0,0.0,1729.0

In [114]:
label_train_source = pd.read_parquet('data/label_train_source.parquet')
label_train_target = pd.read_parquet('data/label_train_target.parquet')
label_test_source = pd.read_parquet('data/label_test_source.parquet')

def replace_song_id_with_vectors(df, song_vectors):
    # 将向量表示扩展为多列
    vector_cols = [f'vector_{i}' for i in range(song_vectors.shape[1])]
    song_vectors_expanded = song_vectors.copy()
    song_vectors_expanded.columns = vector_cols
    
    # 替换 song_id 为向量
    df_with_vectors = df.join(song_vectors_expanded, on='song_id')
    
    # 移除原始的 song_id 列
    df_with_vectors.drop(columns=['song_id'], inplace=True)
    
    return df_with_vectors

label_train_source_vectors = replace_song_id_with_vectors(label_train_source, song_vectors)
label_train_target_vectors = replace_song_id_with_vectors(label_train_target, song_vectors)
label_test_source_vectors = replace_song_id_with_vectors(label_test_source, song_vectors)

In [115]:
label_test_source_vectors

,session_id,unix_played_at,play_status,login_type,listening_order,vector_0,vector_1,vector_2,vector_3,vector_4,vector_5,vector_6,vector_7
0,598,1660177283,1,7,1,99310.0,0.065916,288459.0,0.0,26.0,0.0,14213.0,882.0
1,598,1660177503,1,7,2,60868.0,0.207925,89743.0,67111.5,28.0,0.0,27304.0,893.0
2,598,1660177582,1,7,3,86607.0,0.179524,175463.0,0.0,22.0,0.0,33461.0,894.0
3,598,1660177584,1,7,4,4097.0,0.037515,197093.0,0.0,26.0,0.0,30120.0,1866.0
4,598,1660177587,1,7,5,67004.0,-0.180232,0.0,0.0,0.0,0.0,0.0,1866.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2861275,714498,1666147178,0,7,16,91992.0,-1.221631,138464.0,0.0,17.5,0.0,0.0,1341.0
2861276,714498,1666147262,0,7,17,91992.0,-1.032286,138464.0,0.0,17.5,0.0,0.0,1341.0
2861277,714498,1666147366,0,7,18,91992.0,-1.079622,138464.0,0.0,17.5,0.0,0.0,1341.0
2861278,714498,1666147464,0,7,19,91992.0,-1.136426,138464.0,0.0,17.5,0.0,0.0,1341.0
2861279,714498,1666147556,0,7,20,91992.0,-1.136426,138464.0,0.0,17.5,0.0,0.0,1341.0

In [116]:
label_train_source_vectors.head()

,session_id,unix_played_at,play_status,login_type,listening_order,vector_0,vector_1,vector_2,vector_3,vector_4,vector_5,vector_6,vector_7
0,751,1659598909,1,7,1,2028.0,0.473009,232540.0,103483.0,23.5,63355.0,0.0,971.0
1,751,1659599182,1,7,2,60525.0,-0.966015,0.0,55025.0,0.0,33634.0,47870.0,1866.0
2,751,1659599184,0,7,3,60525.0,-0.966015,0.0,55025.0,0.0,33634.0,47870.0,1866.0
3,751,1659599185,0,7,4,60525.0,-0.966015,0.0,55025.0,0.0,33634.0,47870.0,1866.0
4,751,1659599218,1,7,5,82831.0,0.757027,0.0,10087.0,0.0,6159.0,0.0,409.0

In [117]:
unique_sessions = label_train_source_vectors['session_id'].unique()
print(len(unique_sessions))

572259

In [118]:
def create_dataset(source_df, target_df, session_col='session_id', sample_ratio=0.3):
    # 随机抽取一定比例的会话
    unique_sessions = source_df[session_col].unique()
    sampled_sessions = np.random.choice(unique_sessions, size=int(len(unique_sessions) * sample_ratio), replace=False)
    
    # 用于存储数据的列表
    X, y = [], []

    for session in sampled_sessions:
        session_source = source_df[source_df[session_col] == session].drop(columns=[session_col])
        session_target = target_df[target_df[session_col] == session].drop(columns=[session_col])
        
        if len(session_source) == 20 and len(session_target) == 5:
            X.append(session_source.values)
            y.append(session_target.values)

    return np.array(X), np.array(y)

# 假设 label_train_source_vectors 和 label_train_target_vectors 已经是处理好的 DataFrame
X, y = create_dataset(label_train_source_vectors, label_train_target_vectors)

In [119]:
y.shape

(171677, 5, 12)

In [120]:
X = X.astype(float)
y = y.astype(float)

In [121]:
X_tensor = torch.tensor(X, dtype=torch.float32)
y_tensor = torch.tensor(y, dtype=torch.float32)

# 创建 DataLoader
train_data = TensorDataset(X_tensor, y_tensor)
train_loader = DataLoader(train_data, batch_size=32, shuffle=True)

In [122]:
if torch.cuda.is_available():
    print("GPU is available.")
    device = torch.device("cuda")
else:
    print("GPU is not available, using CPU.")
    device = torch.device("cpu")

GPU is available.

In [133]:
class MultiheadAttention(nn.Module):
    def __init__(self, hidden_size, num_heads):
        super(MultiheadAttention, self).__init__()
        self.attention = nn.MultiheadAttention(hidden_size, num_heads)

    def forward(self, x):
        attn_output, _ = self.attention(x, x, x)
        return attn_output

class SongPredictor(nn.Module):
    def __init__(self, input_size, hidden_size, num_layers, output_size, num_heads):
        super(SongPredictor, self).__init__()
        self.gru = nn.GRU(input_size, hidden_size, num_layers, batch_first=True)
        self.multihead_attn = MultiheadAttention(hidden_size, num_heads)
        self.fc = nn.Linear(hidden_size, output_size)

    def forward(self, x):
        gru_out, _ = self.gru(x)  # GRU层
        attn_out = self.multihead_attn(gru_out)  # 注意力机制
        out = self.fc(attn_out[:, -1, :])  # 全连接层
        return out

# 模型参数
input_size = X.shape[2]  # 输入特征的维度
hidden_size = 128  # 隐藏层大小
num_layers = 2  # GRU层数
output_size = y.shape[2] * 5  # 输出大小（例如，如果是回归问题，就是目标特征的数量）
num_heads = 4  # 注意力头数

model = SongPredictor(input_size, hidden_size, num_layers, output_size, num_heads).to(device)
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)

In [134]:
# 训练模型
def train_model(model, train_loader, criterion, optimizer, epochs):
    for epoch in range(epochs):
        model.train()
        total_loss = 0
        
        for inputs, targets in train_loader:
            inputs, targets = inputs.to(device), targets.to(device)
            optimizer.zero_grad()
            
            # 前向传播
            outputs = model(inputs)
            
            # 计算损失
            loss = criterion(outputs, targets.view(targets.size(0), -1))
            total_loss += loss.item()
            
            # 反向传播和优化
            loss.backward()
            optimizer.step()
        
        print(f'Epoch [{epoch+1}/{epochs}], Loss: {total_loss/len(train_loader):.4f}')
        torch.save(model.state_dict(), 'model.pth')

# 训练过程
epochs = 10
train_model(model, train_loader, criterion, optimizer, epochs)

Epoch [1/10], Loss: 36554147399.8613
Epoch [2/10], Loss: 13427743964.6419
Epoch [3/10], Loss: 172950236891.0196
Epoch [4/10], Loss: 154876056260.4973
Epoch [5/10], Loss: 305410438371.5131
Epoch [6/10], Loss: 391690373934.8101
Epoch [7/10], Loss: 394590994921.3823
Epoch [8/10], Loss: 334478347307.3267
Epoch [9/10], Loss: 417793553947.3894
Epoch [10/10], Loss: 592812340533.9675

In [129]:
label_test_source_vectors

,session_id,unix_played_at,play_status,login_type,listening_order,vector_0,vector_1,vector_2,vector_3,vector_4,vector_5,vector_6,vector_7
0,598,1660177283,1,7,1,99310.0,0.065916,288459.0,0.0,26.0,0.0,14213.0,882.0
1,598,1660177503,1,7,2,60868.0,0.207925,89743.0,67111.5,28.0,0.0,27304.0,893.0
2,598,1660177582,1,7,3,86607.0,0.179524,175463.0,0.0,22.0,0.0,33461.0,894.0
3,598,1660177584,1,7,4,4097.0,0.037515,197093.0,0.0,26.0,0.0,30120.0,1866.0
4,598,1660177587,1,7,5,67004.0,-0.180232,0.0,0.0,0.0,0.0,0.0,1866.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2861275,714498,1666147178,0,7,16,91992.0,-1.221631,138464.0,0.0,17.5,0.0,0.0,1341.0
2861276,714498,1666147262,0,7,17,91992.0,-1.032286,138464.0,0.0,17.5,0.0,0.0,1341.0
2861277,714498,1666147366,0,7,18,91992.0,-1.079622,138464.0,0.0,17.5,0.0,0.0,1341.0
2861278,714498,1666147464,0,7,19,91992.0,-1.136426,138464.0,0.0,17.5,0.0,0.0,1341.0
2861279,714498,1666147556,0,7,20,91992.0,-1.136426,138464.0,0.0,17.5,0.0,0.0,1341.0

In [130]:
# 假设 predict_data_tensor 是您的预测数据张量
predict_data_tensor = label_test_source_vectors.astype(float)
predict_data_tensor = torch.tensor(predict_data_tensor, dtype=torch.float32)

predict_dataset = TensorDataset(predict_data_tensor)
predict_loader = DataLoader(predict_dataset, batch_size=32)

def predict(model, predict_loader, device):
    model.load_state_dict(torch.load('model.pth'))
    model.eval()  # 将模型设置为评估模式
    predictions = []

    with torch.no_grad():  # 在预测时不计算梯度
        for inputs in predict_loader:
            inputs = inputs[0].to(device)  # DataLoader 返回一个元组
            outputs = model(inputs)
            predictions.append(outputs.cpu())  # 如果在 GPU 上，则移动到 CPU

    # 将预测结果拼接成一个张量
    return torch.cat(predictions, dim=0)

# 使用模型进行预测
model_predictions = predict(model, predict_loader, device)

# 将预测结果转换为 numpy 数组，如果需要
predictions_np = model_predictions.numpy()

ValueError: could not determine the shape of object type 'DataFrame'

# ignore

In [125]:
label_data = ['data/label_train_source.parquet', 'data/label_train_target.parquet', 'data/label_test_source.parquet']
meta_data = ['data/meta_song_composer.parquet', 'data/meta_song.parquet', 'data/meta_song_genre.parquet',
            'data/meta_song_lyricist.parquet', 'data/meta_song_producer.parquet', 'data/meta_song_titletext.parquet']

for i in range(len(label_data)):
    df1 = pd.read_parquet(label_data[i])
    print("===============================================================================================")
    print(label_data[i])
    print(df1.head(21))

for i in range(len(meta_data)):
    df2 = pd.read_parquet(meta_data[i])
    print("===============================================================================================")
    print(meta_data[i])
    print(df2.head())

===============================================================================================
data/label_train_source.parquet
    session_id                           song_id  unix_played_at  play_status  \
0          751  6027767fad949f3ca5e772df04924949      1659598909            1
1          751  041547bddb0a3e730f32db84c65868ca      1659599182            1
2          751  041547bddb0a3e730f32db84c65868ca      1659599184            0
3          751  041547bddb0a3e730f32db84c65868ca      1659599185            0
4          751  8b32f88104ecf859be934d9b45f30cd1      1659599218            1
5          751  e4a125e3163e4c1bd40060614c79bd53      1659599219            1
6          751  8b32f88104ecf859be934d9b45f30cd1      1659599225            1
7          751  5ef6718f4517d2d3c316fc45226f41dc      1659599229            1
8          751  e4a125e3163e4c1bd40060614c79bd53      1659599252            0
9          751  041547bddb0a3e730f32db84c65868ca      1659599253            0
10         751  e7efab54028017e35a35d1b1637e210c      1659599287            1
11         751  3f8e8cbe4b5d55f07ba4c7ddfab624b7      1659599300            1
12         751  3f8e8cbe4b5d55f07ba4c7ddfab624b7      1659599330            0
13         751  3f8e8cbe4b5d55f07ba4c7ddfab624b7      1659599619            0
14         751  3f8e8cbe4b5d55f07ba4c7ddfab624b7      1659599620            0
15         751  3f8e8cbe4b5d55f07ba4c7ddfab624b7      1659599621            0
16         751  a97177f0f37a2bae91d8e67831949392      1659599622            1
17         751  6027767fad949f3ca5e772df04924949      1659599640            0
18         751  6027767fad949f3ca5e772df04924949      1659599658            0
19         751  6027767fad949f3ca5e772df04924949      1659599683            0
20         867  883d4ffa999d2f7c8f5293d85112da49      1660789997            0

    login_type  listening_order
0            7                1
1            7                2
2            7                3
3            7                4
4            7                5
5            7                6
6            7                7
7            7                8
8            7                9
9            7               10
10           7               11
11           7               12
12           7               13
13           7               14
14           7               15
15           7               16
16           7               17
17           7               18
18           7               19
19           7               20
20           7                1
===============================================================================================
data/label_train_target.parquet
    session_id                           song_id  unix_played_at  play_status  \
0          307  75c2aa348888f982d85e3f870e6ba5b2      1659942029            1
1          307  0cab8863e5440551c7b37e59635ec18e      1659942032            1
2          307  4d5aceee5c9731151ca69f0946ffa71f      1659942175            1
3          307  929b07d69451684f4f0f6e3bcc2a62d6      1659942272            0
4          307  12ae4e616d3e5c7bd53ec771797f596b      1659942277            1
5         1504  34f1a786e245f2886ab99b0062de906c      1660492666            1
6         1504  d8ec0f80ee6b4457f12e74aa469335d6      1660492682            1
7         1504  d63dbd5214a39f50100c8d59f1c24d6a      1660492749            1
8         1504  c1550c264fb083b3acffe619bd02d75e      1660492759            1
9         1504  61a3b37f326394081b95196a5eb676b8      1660492831            1
10        3505  456c4d99c8403be96d52bd665add69ca      1664451445            0
11        3505  456c4d99c8403be96d52bd665add69ca      1664451506            0
12        3505  456c4d99c8403be96d52bd665add69ca      1664451566            0
13        3505  456c4d99c8403be96d52bd665add69ca      1664451627            0
14        3505  456c4d99c8403be96d52bd665add69ca      1664451687            0
15        4207  524a3cae7263daf1c1aa5471a2ba5c5a      1662784071            1
16        4207  cd568b65b31682fbdcf79cb1a34d103d      1662784114            1
17        4207  0b9d160e52ef1078dce35cc6aa3888d0      1662784124            1
18        4207  ce01c0fb2adae516eef6cdc4d8291c7b      1662784132            1
19        4207  fadce2a661b741e3f20cd8e9d5276649      1662784139            1
20        4974  26e62fee77630e44659c21515f109c99      1664097284            1

    login_type  listening_order
0            8               21
1            8               22
2            8               23
3            8               24
4            8               25
5            8               21
6            8               22
7            8               23
8            8               24
9            8               25
10          40               21
11          40               22
12          40               23
13          40               24
14          40               25
15          46               21
16          46               22
17          46               23
18          46               24
19          46               25
20          46               21
===============================================================================================
data/label_test_source.parquet
    session_id                           song_id  unix_played_at  play_status  \
0          598  43519381e8351d7c6afcc66bcc0a0636      1660177283            1
1          598  928e2e8e316f29efd986fa8d23429431      1660177503            1
2          598  5229859624d3b58c35646154cf366bf4      1660177582            1
3          598  49e50187f7a7f658623807780f499a15      1660177584            1
4          598  bc8b660fe4d4bfa0a13334beae0cb750      1660177587            1
5          598  743724b23a44300df22d204cf0f3702e      1660177588            1
6          598  12646130ef79f2d8fb7796e1586f58c4      1660177589            1
7          598  8a15b5b07ccef816853256013a6adc2d      1660177590            1
8          598  24d59f60232ddd07628179672ee007a1      1660177593            1
9          598  b75bcf271a082f0141c1ab0acfd86c43      1660177594            1
10         598  3b63b76baa890a14f1419eec8fd5ace2      1660177596            1
11         598  2f084b29da7c73d62e7f9087f9f2e90f      1660177597            1
12         598  5bf0eba45565652082863c40b0f59cd7      1660177599            1
13         598  bec020f45e95588e6106623571ea3dce      1660177599            1
14         598  49f7d2b20545dddaaf702b16bf8490f3      1660177603            1
15         598  a689c32ea9ae6bb905817aed73df6159      1660177604            1
16         598  5ecae3b68b3ad3cc2f6b4417e019d5db      1660177606            1
17         598  ea91150ebda0a80c473732c71f6a524f      1660264725            1
18         598  8cd8008ddffd9b2d12b6b7bf17474e9e      1660264726            1
19         598  e8bbc37dee09b8e548f0e2137dd1c2a5      1660265037            1
20        1039  3815658e81d42829193a7b2d186ae025      1660139717            1

    login_type  listening_order
0            7                1
1            7                2
2            7                3
3            7                4
4            7                5
5            7                6
6            7                7
7            7                8
8            7                9
9            7               10
10           7               11
11           7               12
12           7               13
13           7               14
14           7               15
15           7               16
16           7               17
17           7               18
18           7               19
19           7               20
20           7                1
===============================================================================================
data/meta_song_composer.parquet
                            song_id                       composer_id
0  cdffd7270c86854d70d9475a1b5fa29f  bb78a094b2c1c2bfcb599690d0a34a75
1  8c8b365835227f50dd5058d89e42c675  61cf7925bbd9df77c0ad82250f990f91
2  dd10802f9920946e100f7e7e2a344e77  5438736174e7e946b3c701c9df8f7109
3  c6d491d202c50888e958dc90355e6832  af107e6808d25452b5bfa4641ff0f164
4  fb156641a27a3e9789b3cc07cf472514  2a769e2f05eac558307531ee0cb29646
===============================================================================================
data/meta_song.parquet
                            song_id  artist_id  song_length  album_id  \
0  10a46165bb84e056438e06c35763ee61       39.0        202.0     202.0
1  ff025522d0f8e7198a75a4e03edce55c      133.0        278.0    9615.0
2  7feec55b825a1c93d55b3ef9af9f9be5     4147.0        306.0   19017.0
3  ed8b14c6d0fccd1a95f9140933f809f3      114.0        263.0   21059.0
4  2ce5e96e0213a6dac83c54b003418726      112.0        194.0   22531.0

   language_id album_month
0          3.0     2000-01
1          3.0     1995-01
2          3.0     2015-06
3          3.0     1989-01
4          3.0     2003-01
===============================================================================================
data/meta_song_genre.parquet
                            song_id                          genre_id
0  7366ba2acd92eb262191bdaedf249462  b856b6781d370a3645c6dde0c20b3597
1  0b016dad8634acec9d9156d75c3ca568  2eabe9f164346c7b3ff1bd23078f483e
2  0145eadf202d4c7305aec592f7b9a50b  bb3d7b04b67d5aeb5ab145bdd70750da
3  7380f3306b88887be62fabdfc18925c9  b856b6781d370a3645c6dde0c20b3597
4  0006518b7b5daceacc4acf0c3f2843b8  2eabe9f164346c7b3ff1bd23078f483e
===============================================================================================
data/meta_song_lyricist.parquet
                            song_id                       lyricist_id
0  7ab2135e7adea0240481d05b2dde05fd  0fd54fc58fce7f7c6c3af31f96f4f0c3
1  859a8f3a0a264c2989ae5e620bcebb42  b82de1a79e4a8f09add9901c3c51ac03
2  abc6c8d81d6cdef85c3c037c8ea33fc0  54eeee7e4899566d811c9188ebc8f610
3  1c9772200604eca0e241175f4a686818  d9e551616be4a2c4c59e49e2bdf4a98c
4  58e005a3e6cd83e55bb09af03b16bc83  660ac057fad4ef9f744fafcdb48f0bad
===============================================================================================
data/meta_song_producer.parquet
                            song_id                       producer_id
0  84ec2c28a1478f537454b0e5d4114852  c321a7e010cc365c565e0c553ef97d4f
1  f58925f244003b684f4e9f6ec54f2475  6655fd5fe3c990356e310c3049bb32d8
2  63c7faa313937a713b6a9bb5b75e499e  16efccf3392ee6ab121ee695c3e5ce80
3  7dbd2f40884a81018dd124a91b93ee7e  80cb20377c0a42b7f3ccdb1490091abf
4  eccf0e4356b9e9e27b3c6ee2fd5b365f  4a0783e12fea55eb6b85fecba8aec150
===============================================================================================
data/meta_song_titletext.parquet
                            song_id                     title_text_id
0  40985b01760119571bb9d9d6a44e003d  9cc814abf8f2edfe616f36934986c81b
1  67e88ec980c60a4774243f12a6505d8c  51da6f7499addd8acb161d03cb7b87a0
2  1f3b644b4aa4f0a6273c22711e585494  c1079ef109db2aba72f78c632ab73803
3  948db75f718d788e4da02a365b4673af  c1079ef109db2aba72f78c632ab73803
4  00f259930c0454a942bb45a63620b639  bafe4ea3c99161d13843b345569a6d1a

In [126]:
# 讀取meta的各個檔案
composer_df = pd.read_parquet('data/meta_song_composer.parquet')
song_df = pd.read_parquet('data/meta_song.parquet')
genre_df = pd.read_parquet('data/meta_song_genre.parquet')
lyricist_df = pd.read_parquet('data/meta_song_lyricist.parquet')
producer_df = pd.read_parquet('data/meta_song_producer.parquet')
titletext_df = pd.read_parquet('data/meta_song_titletext.parquet')

# 將資料以 song_id 作為主體合併
merged_df = pd.merge(song_df, composer_df, on='song_id', how='left')
merged_df = pd.merge(merged_df, genre_df, on='song_id', how='left')
merged_df = pd.merge(merged_df, lyricist_df, on='song_id', how='left')
merged_df = pd.merge(merged_df, producer_df, on='song_id', how='left')
merged_df = pd.merge(merged_df, titletext_df, on='song_id', how='left')

# 顯示合併後的 DataFrame
print(merged_df.head())

# 將結果保存為一個新的 Parquet 檔案
merged_df.to_parquet('merged_song_data.parquet', index=False)

                            song_id  artist_id  song_length  album_id  \
0  10a46165bb84e056438e06c35763ee61       39.0        202.0     202.0
1  10a46165bb84e056438e06c35763ee61       39.0        202.0     202.0
2  ff025522d0f8e7198a75a4e03edce55c      133.0        278.0    9615.0
3  ff025522d0f8e7198a75a4e03edce55c      133.0        278.0    9615.0
4  7feec55b825a1c93d55b3ef9af9f9be5     4147.0        306.0   19017.0

   language_id album_month                       composer_id  \
0          3.0     2000-01                               NaN
1          3.0     2000-01                               NaN
2          3.0     1995-01  47580d357c6779d6a244c514b0acdc72
3          3.0     1995-01  47580d357c6779d6a244c514b0acdc72
4          3.0     2015-06  3211cf51bfa3afff4f264a110212f615

                           genre_id                       lyricist_id  \
0  ce4db56f6a48426643b08038139a8a75                               NaN
1  b856b6781d370a3645c6dde0c20b3597                               NaN
2  ce4db56f6a48426643b08038139a8a75                               NaN
3  b856b6781d370a3645c6dde0c20b3597                               NaN
4  ce4db56f6a48426643b08038139a8a75  3211cf51bfa3afff4f264a110212f615

                        producer_id                     title_text_id
0  95584be121b41e3e758bd99e9cc07abd  b2153fe5a86fd746903746a219d40083
1  95584be121b41e3e758bd99e9cc07abd  b2153fe5a86fd746903746a219d40083
2  8e9704c1d8cf460fe5a2eb4470e77d3e  c1079ef109db2aba72f78c632ab73803
3  8e9704c1d8cf460fe5a2eb4470e77d3e  c1079ef109db2aba72f78c632ab73803
4  086136ec34f3ff6eb89cfa7c446bd69f  c1079ef109db2aba72f78c632ab73803

In [127]:
merged_df.inf()

AttributeError: 'DataFrame' object has no attribute 'inf'

In [ ]:
merged_df.isnull().sum()

song_id                0
artist_id         185318
song_length       185318
album_id          401967
language_id       401967
album_month       402019
composer_id       726444
genre_id          403030
lyricist_id      1299883
producer_id      1579454
title_text_id     185318
dtype: int64

In [ ]:
# 讀取 source 和 target 資料
source_df = pd.read_parquet('data/label_train_source.parquet')
target_df = pd.read_parquet('data/label_train_target.parquet')

# 合併 source 和 target 資料
merged_df = pd.merge(source_df, target_df, on='session_id', suffixes=('_source', '_target'))

# 創建一個包含所有不同 song_id 的列表
all_song_ids = pd.concat([merged_df['song_id_source'], merged_df['song_id_target']])
unique_song_ids = all_song_ids.unique()

# 將 song_id 轉換成編碼的字典
song_id_to_encoded = {song_id: idx for idx, song_id in enumerate(unique_song_ids)}

# 將編碼後的結果重新分配回 source_df 和 target_df
source_df['song_id_encoded'] = source_df['song_id'].map(song_id_to_encoded)
target_df['song_id_encoded'] = target_df['song_id'].map(song_id_to_encoded)

Modified source_df:
   session_id                           song_id  unix_played_at  play_status  \
0         751  6027767fad949f3ca5e772df04924949      1659598909            1
1         751  041547bddb0a3e730f32db84c65868ca      1659599182            1
2         751  041547bddb0a3e730f32db84c65868ca      1659599184            0
3         751  041547bddb0a3e730f32db84c65868ca      1659599185            0
4         751  8b32f88104ecf859be934d9b45f30cd1      1659599218            1

   login_type  listening_order  song_id_encoded
0           7                1                0
1           7                2                1
2           7                3                1
3           7                4                1
4           7                5                2

Modified target_df:
   session_id                           song_id  unix_played_at  play_status  \
0         307  75c2aa348888f982d85e3f870e6ba5b2      1659942029            1
1         307  0cab8863e5440551c7b37e59635ec18e      1659942032            1
2         307  4d5aceee5c9731151ca69f0946ffa71f      1659942175            1
3         307  929b07d69451684f4f0f6e3bcc2a62d6      1659942272            0
4         307  12ae4e616d3e5c7bd53ec771797f596b      1659942277            1

   login_type  listening_order  song_id_encoded
0           8               21             8238
1           8               22             6569
2           8               23             6818
3           8               24             5120
4           8               25             6822

In [ ]:
# 顯示修改後的 source_df 和 target_df
print("Modified source_df:")
print(source_df.head(21))
print("\nModified target_df:")
print(target_df.head(6))

Modified source_df:
    session_id                           song_id  unix_played_at  play_status  \
0          751  6027767fad949f3ca5e772df04924949      1659598909            1
1          751  041547bddb0a3e730f32db84c65868ca      1659599182            1
2          751  041547bddb0a3e730f32db84c65868ca      1659599184            0
3          751  041547bddb0a3e730f32db84c65868ca      1659599185            0
4          751  8b32f88104ecf859be934d9b45f30cd1      1659599218            1
5          751  e4a125e3163e4c1bd40060614c79bd53      1659599219            1
6          751  8b32f88104ecf859be934d9b45f30cd1      1659599225            1
7          751  5ef6718f4517d2d3c316fc45226f41dc      1659599229            1
8          751  e4a125e3163e4c1bd40060614c79bd53      1659599252            0
9          751  041547bddb0a3e730f32db84c65868ca      1659599253            0
10         751  e7efab54028017e35a35d1b1637e210c      1659599287            1
11         751  3f8e8cbe4b5d55f07ba4c7ddfab624b7      1659599300            1
12         751  3f8e8cbe4b5d55f07ba4c7ddfab624b7      1659599330            0
13         751  3f8e8cbe4b5d55f07ba4c7ddfab624b7      1659599619            0
14         751  3f8e8cbe4b5d55f07ba4c7ddfab624b7      1659599620            0
15         751  3f8e8cbe4b5d55f07ba4c7ddfab624b7      1659599621            0
16         751  a97177f0f37a2bae91d8e67831949392      1659599622            1
17         751  6027767fad949f3ca5e772df04924949      1659599640            0
18         751  6027767fad949f3ca5e772df04924949      1659599658            0
19         751  6027767fad949f3ca5e772df04924949      1659599683            0
20         867  883d4ffa999d2f7c8f5293d85112da49      1660789997            0

    login_type  listening_order  song_id_encoded
0            7                1                0
1            7                2                1
2            7                3                1
3            7                4                1
4            7                5                2
5            7                6                3
6            7                7                2
7            7                8                4
8            7                9                3
9            7               10                1
10           7               11                5
11           7               12                6
12           7               13                6
13           7               14                6
14           7               15                6
15           7               16                6
16           7               17                7
17           7               18                0
18           7               19                0
19           7               20                0
20           7                1                8

Modified target_df:
   session_id                           song_id  unix_played_at  play_status  \
0         307  75c2aa348888f982d85e3f870e6ba5b2      1659942029            1
1         307  0cab8863e5440551c7b37e59635ec18e      1659942032            1
2         307  4d5aceee5c9731151ca69f0946ffa71f      1659942175            1
3         307  929b07d69451684f4f0f6e3bcc2a62d6      1659942272            0
4         307  12ae4e616d3e5c7bd53ec771797f596b      1659942277            1
5        1504  34f1a786e245f2886ab99b0062de906c      1660492666            1

   login_type  listening_order  song_id_encoded
0           8               21             8238
1           8               22             6569
2           8               23             6818
3           8               24             5120
4           8               25             6822
5           8               21            21566